body {
    font-family: "Open Sans", sans-serif;
}

.side_panel {
    background-color: #1d2027;
    height: 100vh;
}

.button {
    background-color: #3ba5d1;
    font-size: 0.8rem;
    padding: 0.7rem 1rem 0.7rem 1rem; 
}

.line {
    border-color: #0a0a0a;
    box-shadow: 0 1px #31343a;
}

.content {
    background-color: #f0f1f5;
    height: 100vh;

}
.search_block {
    padding-top: 10px;
}

.no_padding {
    padding-left: 0;
    padding-right: 0;
}

input[type="search"] {
    border-radius: 3px;
}

.news {
    background-color: #ffffff;
    border-bottom: 1px solid #c8d3de;
    border-top: 1px solid #c8d3de;
    height: 80vh;
}

.content_block {
    background-color: #ffffff;
}

.list_rss {
    background-color: #ffffff;
    border: 1px solid #c8d3de;
    height: 90vh;
}

.book {
    word-break: break-all;
    display: inline-block;
    background-color: #ffffff;
    width: 50%;
}

.btn_edit, .btn_del {
    display: none;
    vertical-align: middle;
    color: #7a7f8d;
    text-align: center;
}

.btn_edit:hover, .btn_del:hover {
    color: #cccccc;
}

.btns_link {
    height: 20px;
}

.item_list:hover {
    display: block;
}

.link {
    font-size: 14px;
    margin-bottom: 0;
    color: #7a7f8d;
}
.link_name {
    color: #1f7ca3;
    margin-bottom: 0px;
}

.list_news li {
    list-style-type: none;
}

.input_field {
    background-color: #30333a;
    border: none ;
    color: #fff;
    padding: 7px;
}

.error_msg {
    color: red;
}

.addfrm input.ng-invalid.ng-dirty, .editfrm input.ng-invalid.ng-dirty {
    border-color: #fa787e;
}
.addfrm input.ng-valid.ng-dirty, .editfrm input.ng-valid.ng-dirty {
    border-color: #78fa89;
}

.welcome_msg {
    color: white;
    font-size: 16px;
    padding: 30px 0;
    border-bottom: 1px solid #ffffff;
}

.menu_item {
    border-bottom: 1px solid #ffffff;
    color: white;
    padding: 10px 0 10px 5px;
}

.menu_item a:hover {
}

.menu_item:hover {
    padding-top: 10px;
    color: black;
    background: #f4f5f5;
    cursor: pointer;
}